<div class="row">
    <div class="col-xs-12">
        <div class="projects title animate" ng-if="projects === 'Projects' && contentPage" ng-click="changePage('Projects')">
            <text>{{projects}}</text>
        </div>
    </div>
</div>
<div class="row animate" ng-if="projects === 'Projects' && contentPage">
    <div class="col-xs-12">
        <div class="project-list key" ng-repeat="(key, value) in myProjects.games">
            <a target="_blank" href="{{value.link}}">
                <img ng-src="{{value.img}}">
                <text>{{value.name}}</text>
            </a>
        </div>
    </div>
</div>